.primary-color{
    background-color: #358cd6;
    color: #358cd6;
}

.bg-primary{
    background-color: #358cd6;
    color: #358cd6;
}

.bg-image{
    width:1600px;height:900px;
    background-image: url(img/maple1.jpg);
}